

# BASE WORKDIR
base_wkd = '/Mywork/LLM/llm_tool_call_test/workspace'

# REQUIRED
DEEPSEEK_API_KEY = "YOUR_API_KEY"

# OPTIONAL
BAIDU_SEARCH_API_KEY = "YOUR_API_KEY"

# OPTIONAL
MAIN_AGENT_BASE_URL = "http://localhost:8000/v1"
MAIN_AGENT_LOCAL_MODEL_ADDRESS = "YOUR_VLLM_MODEL_DIR"
MAIN_AGENT_LOCAL_MODEL_MAX_TOKENS = 4096

# OPTIONAL
IMAGE_AGENT_BASE_URL = "http://localhost:8000/v1"
IMAGE_AGENT_LOCAL_MODEL_ADDRESS = "YOUR_VLLM_MODEL_DIR"
IMAGE_AGENT_LOCAL_MODEL_MAX_TOKENS = 4096

